.header {
	height: 80px;
  	background-color: dimgray;    
  	color: white;
	display: flex;
	align-items: flex-end;
}

.heading {
	flex: 34%;
    	height: 60px;
    	background: red;
	padding-left: 20px;
	padding-bottom: 20px;
}

.buttons {
	flex: 66%;
	height: 80px;
    	background: blue;
}

.body {
	background-color: gainsboro;
	color: black;
	display: flex;
}

.left-column {
	background-color: orange;
	flex: 34%;
	padding-left: 20px;
	padding-top: 20px;
}

.right-column {
	background-color: green;
	flex: 66%;
	padding-left: 20px;
	padding-top: 20px;
}
