@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}


h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

main {
  max-width: 600px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

#home {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

#landing-text h2 {
  color: #888;
  font-family: 'Roboto Condensed', sans-serif;
}

#landing-image {
  background: url('landing_image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 0 1 60vw;
  margin: 0;
  border-width: .70rem;
  border-style: none solid none solid;
  border-color: white
}

#navigation {
  background: #403531;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100vw;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

#navigation a {
  color: #fff;
  font-size: 1rem;
  margin: auto;
  padding: .4rem;
}

#navigation a:hover {
  background-color: #eee;
  text-decoration: none;
  color: #83544a;
}

#navigation a:visited {
  background-color: transparent;
  text-decoration: none;
}

#navigation a:active {
  background-color: #eee;
  color: #83544a;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-container {
  padding-top: 3rem;
}

.header {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
  background: #696969;
  color: #fff;
}

.header h2 {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
}

.caption {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #333;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

footer a {
  font-size: 1.5rem;
}

a:link {
  color: #c80505;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #83544a;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #776859;
  background-color: transparent;
  text-decoration: underline;
}

.project {
  display: flex;
  flex-direction: column;
  border-bottom-style: solid;
  border-color: #bbb;
  padding: 1rem;
}

.project-image {
  width: 100%;
  margin: 0;
  text-align: center;
}

.project-text {
  width: 100%;
  display: block;
}

.project h3 {
  margin-top: 1rem;
}

.project a {
  background-color: #78645c;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #382e2b;
  font-size: 0.85rem;
  color: #fff;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.project a:hover {
  background-color: #5c4c47;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

ul {
  padding-left: 0;
}

ul p {
  margin: 0;
}

li {
  margin: 1rem; 
}

/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #home {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }

  #navigation a {
    font-size: 1rem;
    padding: 1rem 1rem;
  }

  .project {
    flex-direction: row;
  }

  .project-image {
    width: 50%;
    margin: 0;
  }

  .project-text {
    display: block;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header-container{
    padding-top: 4rem;
  }

  .header {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .project h3 {
    margin-top: 0rem;
  }

}

