.header {
	height: 80px;
  	background-color: dimgray;    
  	color: white;
	display: flex;
}

.heading{
	flex: 50%;
    	height: 80px;
    	background: red;
    	overflow: hidden;
	padding-left: 30px;
}

.buttons{
	flex: 50%;
	height: 80px;
    	background: blue;
}

.body {
	background-color: gainsboro;
	color: black
}
