body {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	height: 85vh; 
	width: 97vw;
	background-color: #d3d3d3;
	font-family: sans-serif;
	margin: 1vh;
	font-size: 2vh;
}

p {
	margin: 0;
}

.menu {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	background-color: #d3d3d3;
	grid-gap: 1vh;
	height: 66%;
}

.menu-text {
	border-radius: 1vh;
	user-select: none;
	margin-left: 1vw;
}

.menu-button {
	padding-top: 1vh;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	color: #ffffff;
	background-color:  #808080;
	border: #525252 solid;
	border-radius: 1vh;
	transition: filter 0.3s;
}

#hint {
	flex-grow: 1;
}

#add-cards {
	flex-grow: 3;
}

.menu-button-text {
	display: inline-block;
	max-width: min-content;
}

.menu-button:hover {
	filter: brightness(0.9);
}


.table {
	width: 85vw;
	max-height: 85vh;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #d3d3d3;
    border-radius: .3rem;
    grid-gap: 1vh;
    margin-right: .5rem;
}


.card {
	background-color: #d3d3d3;
    border-radius: .3rem;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1/1.42; 
    width: 100%;
    transition: box-shadow 0.5s;
    user-select: none;
}

label img {
	width: 100%;
	height: 100%;
}

input {
	position: absolute;
  	max-height: 0;
  	overflow: hidden;
  	visibility: hidden;
}

label {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	width: 110%;
  	height: 110%;
  	border-radius: .3rem;
  	margin-top: -5%;
  	margin-left: -4%;
  	cursor: pointer;
  	overflow: hidden;
}

.card:has(> label input:checked) {
	filter: brightness(.9);
	box-shadow: 0 0 0.7rem 0.4rem #43A6C6;
}

.card.hint {
	box-shadow: 0 0 0.7rem 0.3rem green; 
}

.menu-button.hint {
	box-shadow: 0 0 0.7rem 0.3rem green;
}


@media (min-aspect-ratio: 3/5) {
	body {
		height: 90vh;
		width: 100vw;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		font-size: 3vh;
	}

	.menu {
		height: auto;
		display: flex;
		width: auto;
		flex-direction: row;
		align-items: flex-end;
		flex: 0 1 1rem;
		margin-top: 1vh;
		margin-left: 1vh;
	}

	.menu-button {
		width: auto;
	}

	.menu-button-text {
		display: inline;
	}

	.menu-text {
		margin: 0 4vw 0 2vw;
	}

	.table {
		flex: 0;
		grid-template-columns: auto;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-flow: column;
		width: auto;
		height: auto;
		max-width: 150vh;
		margin: 1vh;
	}

	.card {
		aspect-ratio: 1.42/1;
	}

	label {
		display: flex;
		flex-direction: column;
  		align-items: flex-start;
  		width: 125%;
  		height: 105%;
  		border-radius: .3rem;
  		margin-top: 0;
  		margin-left: 0;
  		
	}

	label img {
		transform: rotate(90deg);
		width: 60%;
		height: 166%;
		margin-left: 10%;
		margin-top: -1%;
	}
}






