:root {
 --doc-height: 100%;
}

body {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	height: 85vh; /* fallback for Js load */
	width: 95vw;
	background-color: #d3d3d3;
	font-family: sans-serif;
	margin: 0.3rem;
}

p {
	margin: 0;
}

.menu {
	-webkit-flex: 1 0 auto;
	background-color: #d3d3d3;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	border-radius: .3rem;
	grid-gap: .3rem;
	margin-right: 1.5vw;
}

.menu-button {
	display: block;
	justify-content: center;
	border-radius: .3rem;
	user-select: none;
	width: 100%;
	margin-left: 2vh;
}

#hint {
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	padding-top: 12vh;
	padding-bottom: 12vh;
	margin-left: 0.5rem;
	color: #ffffff;
	background-color:  #808080;
	border: #525252 solid;
}

#hint:hover {
	filter: brightness(0.9);
}

#add-cards {
	display: inline;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	padding-top: 18vh;
	padding-bottom: 18vh;
	margin-left: 0.5rem;
	color: #ffffff;
	border: #525252 solid;
	background-color: #808080;
}

#add-cards:hover {
	filter: brightness(.9);
}


.table {
	flex-basis: auto;
	height: 100%;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #d3d3d3;
    border-radius: .3rem;
    grid-gap: 1vh;
    margin-right: .3rem;
}


.card {
	background-color: #d3d3d3;
    border-radius: .3rem;
    justify-content: center;
    overflow: hidden;
    /* aspect-ratio: 3 / 5; */ 
    width: 100%;
}

label img {
	width: 100%;
	height: 100%;
}

input {
	position: absolute;
  	max-height: 0;
  	overflow: hidden;
  	visibility: hidden;
}

label {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	width: 110%;
  	height: 110%;
  	border-radius: .3rem;
  	margin-top: -5%;
  	margin-left: -5%;
  	cursor: pointer;
  	overflow: hidden;
}

.card:has(> label input:checked) {
	filter: brightness(.9);
	box-shadow: 0 0 0.7rem 0.4rem #43A6C6;
}

.card.hint {
	box-shadow: 0 0 0.7rem 0.3rem green; 
}

.menu-button.hint {
	box-shadow: 0 0 0.7rem 0.3rem green;
}

