.container {
  width: 100%;
  display: block;
  background: #eee;
}

img {
  width: 100%;
}

.padding {
  height: 2rem;
}

/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  main {
    width: 57vh;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
  }
}