body {
  background-color: #0099e8;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  font: 300 24px/29px "Helvetica Neue", sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  color: white;
}

#horizontal {
  margin-left: -40px;
}

#horizontal li{
  display: inline;
}


.list {
    list-style-type: none;
    padding-right: 30px;
    padding-left: 0;
    border-radius: 0;
    opacity: 0.6;
}

#name {
  font-size: 200%;
  font-weight: 300;
}

.list.highlight {
    opacity: 1.0;
}

a {
   color: white;
   text-decoration: none;
}

.hide {
    margin-top: 1cm;
    font-size: 90%;
}

span {
    opacity: 0.6;
}

span.highlight {
    opacity: 1.0; 
}

#research_div .hide {
    margin-top: 0;
    font-size: 75%;
    line-height: 100%;
}

#teaching_div {
    line-height: 100%;
}
